.AddNewProduct
{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AddToDB
{
    display: flex;
    align-items:start;
    gap: 30px;
}

.DataANP
{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.AddToDB .DataANP input
{
    width: 30vw;
    padding: 0 10px;
    height: 35px;
}

.AddNewProduct button
{
    margin-top: 20px;
    width: 10vw;
}

.GenderANP
{
    display: flex;
    flex-direction: row;
}

.GenderANP label
{
    display: flex;
    align-items: center;
    cursor: pointer;
}